.modal-form-conatiner {
  display: grid;
  justify-content: center;
  grid-template-columns: 400px;
  padding: 60px;
  mat-form-field {
    width: 350px;
  }
  mat-card-header {
    justify-self: center;
    padding-bottom: 20px;
  }
  .hidden {
    display: none;
  }
  .radio-button {
    padding-left: 8px;
    mat-radio-group,
    mat-radio-button {
      padding-left: 16px;
    }
  }
}
