<div class="animated fadeIn table-container mat-elevation-z20">
  <mat-card>
    <mat-card-header>
      <i class="material-icons">supervised_user_circle</i>
      <mat-card-title>Department</mat-card-title>
      <mat-card-subtitle>Add, update or delete Department</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <!-- Table loading spinner -->
      <div class="table-loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>

      <div class="table-header">
        <!-- Table search input -->
        <!-- <mat-form-field class="filter-field">
            <input
              matInput
              (keyup)="applyFilter($event.target.value)"
              placeholder="Filter by name, age or gender"
              [(ngModel)]="search"
            />
            <button
              mat-button
              *ngIf="search"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="search = ''; applyFilter('')"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field> -->

        <!-- Add button -->

        <button
          (click)="addDepartment()"
          mat-raised-button
          style="margin-bottom: 15px"
          color="primary"
        >
          <mat-icon>add</mat-icon> Add new
        </button>
      </div>

      <mat-table
        #table
        [dataSource]="dataSource"
        class="person-table"
        matSort
        matSortActive="id"
        matSortDisableClear
        matSortDirection="desc"
      >
        <!-- Table content -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >No.</mat-header-cell
          >
          <mat-cell *matCellDef="let row; let i = index">
            {{ i + 1 }}
          </mat-cell>
          <pre></pre>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Name
          </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            <mat-tree
              [dataSource]="[treeDataSource.data[i]]"
              [treeControl]="treeControl"
              class="project-tree"
            >
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <li class="mat-tree-node">
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <button mat-icon-button disabled></button>
                  {{ node.name }}
                </li>
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <li>
                  <div class="mat-tree-node">
                    <button
                      mat-icon-button
                      matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name"
                    >
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{
                          treeControl.isExpanded(node)
                            ? "expand_more"
                            : "chevron_right"
                        }}
                      </mat-icon>
                    </button>
                    <div>
                      {{ node.name }}
                    </div>
                  </div>
                  <ul
                    [class.project-tree-invisible]="
                      !treeControl.isExpanded(node)
                    "
                  >
                    <app-division-details
                      *ngIf="
                        treeControl.isExpanded(node) && node.type === 'child'
                      "
                      [node]="node"
                      [divisionId]="node.id"
                    ></app-division-details>
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </li>
              </mat-nested-tree-node>
            </mat-tree>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created">
          <mat-header-cell *matHeaderCellDef>Created at</mat-header-cell>
          <mat-cell *matCellDef="let row">{{
            row.created_at | date: "dd/MM/yyyy"
          }}</mat-cell>
        </ng-container>

        <!-- Table actions -->
        <ng-container matColumnDef="userid">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>

          <mat-cell *matCellDef="let row">
            <button mat-menu-item (click)="editDepartment(row.id)">
              <mat-icon aria-label="Edit">create</mat-icon>
            </button>
            <button mat-menu-item (click)="deleteDepartment(row.id)">
              <mat-icon aria-label="Delete">clear</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9999">No data Department available.</td>
        </tr> -->
      </mat-table>

      <!-- Table pagination -->
      <mat-paginator
        [pageSizeOptions]="pageSizeOptions"
        [length]="totalItems"
        [pageSize]="pageSize"
        (page)="onPaginateChange($event)"
      >
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
